.inner-container {
    top: 0;
            	background: url('../img/air-quality.jpg') fixed center center no-repeat;
    background-size: cover;
}
header{
     height: 0;
}
.logo {

    fill: #fff;

   
    
}
